
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: pink;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    row-gap: 6vmin;
    font-size: 4vmin;
   
}

.winner {
    display: none;
}
.show {
    display: block;
}



.game {
    width: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vmin;
}

.box {
    font-size: 10vmin;
    width: 17vmin;
    height: 17vmin;
    border-radius: 2vmin;
    border: none;
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: 0px 0px 30px 1px black;
}

.x {
    background-color: #0E1428;
    color: #7B9E89;
}

.o {
    background-color: #7B9E89;
    color: #0E1428;
}

.resetbtn {
    border: none;
    background-color: #0E1428;
    color: #F0A202;
    padding: 2.5vmin;
    border-radius: 1vmin;
    font-size: 3vmin;
    font-weight: 900;
    box-shadow: 0px 0px 30px 1px black;
}
